.container.profile {
 grid-template-areas: 
 "h1 h1"
 "h2 h3"
 ;
 grid-template-columns: 30%  68%;
}

.grid label{
  display: flex;
  width: fit-content;

  justify-self: center;
}
@media (max-width: 370px) {

  .profile > div {
    padding: 10px !important;
  }
}
@media (min-width: 768px){
.grid.center-a-flex-end{
  padding-left: 20px;
}
}
@media (max-width: 767px) {

  .Latest-Activities > div  div{
    flex-direction: column;
    align-items: center ;
      gap: 20px;
  }
  .Latest-Activities > div{
    gap: 20px;
    flex-direction: column;
  }
  .flex-gap-5-row.flex-wrap{
    justify-content: center;
  }
  .container.profile{
     grid-template-areas: 
 "h1 "
 "h2 "
 "h3 "
 ;
 grid-template-columns: 100%;
  }

  .profile > div:nth-of-type(1) {
    flex-direction: column !important;
  }

  .profile > div > div:nth-of-type(1) {
    border-right: none !important;
  }
  .profile > div > div.grow-1:nth-of-type(2) {
    text-align: center;
  }
  .grid label {
    display: flex;
    justify-content: center;
  }
  .profile .grid {
    gap: 20px 0;
  }
  .profile > div > div:nth-of-type(1) {
    padding: 20px 0 !important;
  }
}
.profile > div > div > img {
  width: 100px;
}
.profile {
  /* grid-template-columns: repeat(1, 100%); */
}
.profile > div:nth-of-type(1) {
  flex-direction: row;
  grid-area: h1;
}
.profile > div:nth-of-type(1) > div:nth-of-type(1) {
  border-right: 1px solid var(--background-color-2);
  padding: 20px 0;
  padding-right: 20px;
  justify-content: center;
}

.profile-prog {
  width: 150px;
  height: 5px;
  background-color: var(--background-color-2);
  position: relative;
  border-radius: var(--border-radi-10px);
  -webkit-border-radius: var(--border-radi-10px);
  -moz-border-radius: var(--border-radi-10px);
  -ms-border-radius: var(--border-radi-10px);
  -o-border-radius: var(--border-radi-10px);
}
.profile-prog::after {
  content: "";
  left: 0;
  border-radius: var(--border-radi-10px);
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: var(--background-color-3);
}

.profile .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-around;
  gap: 10px 0;
}
.profile .grid div {
  padding: 10px 0;
}

.my-skill {


    grid-area: h2;
    & .btn-shape{
      background-color: var(--background-color-2);
    }
}
.Latest-Activities {
    grid-area: h3;
}
